@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #09090b;
    color: #f4f4f5;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #18181b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

/* Canvas Pixelated crisp rendering */
.pixel-canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

/* Solid Flat UI Buttons & Cards */
.btn-flat {
  position: relative;
  transition: all 0.15s ease-in-out;
  box-shadow: 3px 3px 0px 0px #000;
}
.btn-flat:hover {
  transform: translate(-1px, -1px);
  box-shadow: 4px 4px 0px 0px #000;
}
.btn-flat:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 0px 0px #000;
}

.card-flat {
  border: 1px solid #27272a;
  background-color: #121215;
}
